In [ ]:
import numpy as np
import pandas as pd

In [ ]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}{1}
    """
    def __init__(self, *args):
        self.args = args
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
            for a in self.args)
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
            for a in self.args)

In [ ]:
# load the planets dataset
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

In [ ]:
planets.head()

In [ ]:
summary = planets.dropna().describe()
summary

In [ ]:
summary = summary.T
summary

In [ ]:
# calculate the Inter-quartile range IQR
iqr = summary['75%'] - summary['25%']
iqr = pd.DataFrame(iqr, columns=['iqr'])
iqr

GroupBy

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

In [ ]:
df.groupby('key')

In [ ]:
df.groupby('key').sum()

The GroupBy Object

In [ ]:
planets.head()

In [ ]:
# column indexing
planets.groupby('method')['orbital_period'].median()

In [ ]:
# iteration over groups
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

In [ ]:
planets.groupby('method')['year'].describe().unstack()

Aggregate, Filter, Transform and Apply

In [ ]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)}, columns=['key', 'data1', 'data2'])
df

In [ ]:
# aggregate
df.groupby('key').aggregate(['min', np.median, max])

In [ ]:
df.groupby('key').aggregate({'data1': 'min',
                             'data2': 'max'})

In [ ]:
# filtering
def filter_std(x):
    return x['data2'].std() > 4

In [ ]:
display('df', "df.groupby('key').std()", "df.groupby('key').filter(filter_std)")

In [ ]:
# transformation (output should be the same shape as the input)
def trans_center(x):
    return x - x.mean()

In [ ]:
df.groupby('key').transform(trans_center)

In [ ]:
# apply
def norm_by_data(x):
    x['data1'] /= x['data2'].sum()
    return x

In [ ]:
df.groupby('key').apply(norm_by_data)

Specifying the Split Key

In [ ]:
L = [0, 1, 2, 0, 1, 1]
df.groupby(L).sum()

In [ ]:
df1 = df.set_index('key')
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
df1.groupby(mapping).sum()

In [ ]:
# Grouping Example - Count discovered planets by method and by decade
planets.head()

In [ ]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
decade

In [ ]:
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)