In [ ]:
import numpy as np
import pandas as pd

Detecting Null Values

In [ ]:
 data = pd.Series([1, np.nan, 'hello', None])
 data.isnull()

In [ ]:
data[data.notnull()]

Dropping Null values

In [ ]:
data.dropna()

We cannot drop single values from a DataFrame; we can only drop entire rows or columns.
Depending on the application, you might want one or the other, so dropna includes a number of options for a DataFrame.
By default, dropna will drop all rows in which any null value is present:

In [ ]:
df = pd.DataFrame([[1, np.nan, 2],
                   [2, 3, 5],
                   [np.nan, 4, 6]])
df.dropna()

Alternatively, you can drop NA values along a different axis. Using axis=1 or axis='columns' drops all columns containing a null value:

In [ ]:
df = pd.DataFrame([[1, np.nan, 2],
                   [2, 3, 5],
                   [np.nan, 4, 6]])
df.dropna(axis=1)

But this drops some good data as well; you might rather be interested in dropping rows or columns with all NA values, or a majority of NA values. This can be specified
through the 'how' or 'thresh' parameters, which allow fine control of the number of nulls to allow through.

In [ ]:
df = pd.DataFrame([[1, np.nan, 2],
                   [2, 3, 5],
                   [np.nan, 4, 6]])
df[3] = np.nan
df.dropna(axis='columns', how='all')

For finer-grained control, the thresh parameter lets you specify a minimum number of non-null values for the row/column to be kept:

In [ ]:
df = pd.DataFrame([[1, np.nan, 2],
                   [2, 3, 5],
                   [np.nan, 4, 6]])
df[3] = np.nan
df.dropna(axis='rows', thresh=3)

Filling Null values

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'), dtype='Int32')
data

In [ ]:
data.fillna(0)

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'), dtype='Int32')
data.fillna(method="ffill")

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'), dtype='Int32')
data.fillna(method="bfill")

In [ ]:
# in case of a DataFrame we can also specify an axis along which fills should take place
df = pd.DataFrame([[1, np.nan, 2],
                   [2, 3, 5],
                   [np.nan, 4, 6]])
df.fillna(axis=1, method="ffill")