In [ ]:
import pandas as pd
df = pd.read_csv('./salaries_by_college_major.csv')

Take a peek at the first 5 rows to get a sense of the data...

In [ ]:
df.head()

Take a look at the number of rows and columns...

In [ ]:
df.shape

Find out the column names...

In [ ]:
df.columns

Look for NaN values i.e. blank cells or cells that contain strings instead of numbers...

In [ ]:
df.isna()

In [ ]:
df.tail()

In [ ]:
cleaned_df = df.dropna()
cleaned_df.tail()

Find the College Major with highest starting salaries...

In [ ]:
highest_salary = cleaned_df['Starting Median Salary'].max()
print(f"Highest Starting Salary is {highest_salary}")

In [ ]:
college_major_id = cleaned_df['Starting Median Salary'].idxmax()
college_major = cleaned_df.loc[college_major_id]
print(f"Major with highest starting salary is: {college_major}")

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [ ]:
highest_mid_career_salary = cleaned_df['Mid-Career Median Salary'].max()
print(f"Highest Mid-Career Salary is {highest_mid_career_salary}")

In [ ]:
college_major_id = cleaned_df['Mid-Career Median Salary'].idxmax()
college_major = cleaned_df.loc[college_major_id]
print(f"Major with highest mid-career salary is: {college_major}")

Which college major has the lowest starting salary and how much do graduates earn after university?

In [ ]:
lowest_starting_salary = cleaned_df['Starting Median Salary'].min()
print(f"Lowest Starting Salary is {lowest_starting_salary}")

In [ ]:
college_major_id = cleaned_df['Starting Median Salary'].idxmin()
college_major = cleaned_df.loc[college_major_id]
print(f"Major with lowest starting salary is: {college_major}")

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [ ]:
lowest_mid_career_salary = cleaned_df['Mid-Career Median Salary'].min()
print(f"Lowest Mid-Career Salary is {lowest_mid_career_salary}")

In [ ]:
college_major_id = cleaned_df['Mid-Career Median Salary'].idxmin()
college_major = cleaned_df.loc[college_major_id]
print(f"Major with lowest mid-career salary is: {college_major}")

Calculating the difference between the values in two columns and adding the set of values to the dataset...

In [ ]:
salary_spread = cleaned_df['Mid-Career 90th Percentile Salary'].subtract(cleaned_df['Mid-Career 10th Percentile Salary'])
cleaned_df.insert(1, 'Salary Spread', salary_spread)
cleaned_df.head()

Find out the lowest spread in salary and the corresponding majors...

In [ ]:
sorted_df = cleaned_df.sort_values(by='Salary Spread', ascending=True)
sorted_df[['Undergraduate Major', 'Salary Spread']].head()

Note the use of [[]] in above code snippet to select a subset of columns from the original dataset

Find the top 5 degrees with the highest values in the 90th percentile.

In [ ]:
highest_90_percentile = cleaned_df.sort_values(by='Mid-Career 90th Percentile Salary', ascending=False)
highest_90_percentile.head(5)

Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [ ]:
sorted_salary_spread = cleaned_df.sort_values(by='Salary Spread', ascending=False)
print(f"Majors sorted according to greatest difference between earners: {sorted_salary_spread['Undergraduate Major']}")

How many majors do we have in each Group?

In [ ]:
cleaned_df.groupby('Group').count()

Find the average salary per group

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format
trimmed_df = cleaned_df[['Group', 'Starting Median Salary', 'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary', 'Mid-Career 90th Percentile Salary']]
trimmed_df.groupby('Group').mean()